<!-- Footer -->
<footer class="color4">
	<div class="container-md">
		<div class="text-light pt-5 pb-2">
			<p>Kazakhstan, Astana 010000, Mangilik El Avenue, ะก1, Astana IT University</p>
			<p>Email: <a href="mailto:palantirnftcrypto@gmail.com" class="link-light">palantirnftcrypto@gmail.com</a></p>
			<p>Phone: <a href="tel: +7(777) 777 77 77" class="link-light">+7(777) 777 77 77</a></p>
			<p>Dana Uteusheva (IT-2202) Practice Sample</p>
			<p class="text-center">&copy; 2025 All Rights Reserved.</p>
		</div>
	</div>
</footer>