<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="icon" type="image/x-icon" href="/img/logo.png">
	<title>AutoHub</title>
</head>
<body>

	<%- include('./partials/header.ejs') %>
	
	<main id="car">
		<div class="container my-5">
			<div class="space"></div>
			<div class="row">
				<h2 class="mb-4">Mint new NFT</h2>
				<form action="/cars" method="post" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="carName" class="form-label">NFT Name</label>
						<input type="text" class="form-control" name="name" placeholder="Enter NFT Name" required>
					</div>
					<div class="mb-3">
						<label for="carDescription" class="form-label">Description</label>
						<textarea class="form-control" name="description" rows="3" placeholder="Enter NFT description" required></textarea>
					</div>
					<div class="mb-3">
						<label for="carBrand" class="form-label">Collection</label>
						<select name="brand" class="form-select">
							<option value="" selected>Choose collection</option>
							<option value="Vintage">Vintage</option>
							<option value="Hypercars">Hypercars</option>
							<option value="Classics">Classics</option>
							<option value="Concepts">Concepts</option>
							<option value="Limited Edition">Limited Edition</option>
							<option value="Digital Art">Digital Art</option>
							<option value="Racing Series">Racing Series</option>
							<option value="Future Tech">Future Tech</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="carType" class="form-label">Category</label>
						<select name="type" class="form-select">
							<option value="" selected>Choose category</option>
							<option value="Digital Artwork">Digital Artwork</option>
							<option value="Collectible">Collectible</option>
							<option value="Virtual Asset">Virtual Asset</option>
							<option value="Profile Picture">Profile Picture</option>
							<option value="Interactive NFT">Interactive NFT</option>
							<option value="Music NFT">Music NFT</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="carPrice" class="form-label">Price</label>
						<input type="number" class="form-control" name="price" placeholder="Enter NFT price" required>
					</div>
					<div class="mb-3">
						<label for="ownerName" class="form-label">Owner's Name</label>
						<input type="text" class="form-control" name="ownerName" placeholder="Enter NFT owner name" required>
					</div>
					<div class="mb-3">
						<label for="phoneNumber" class="form-label">Owner's phone number</label>
						<input type="text" class="form-control" name="phoneNumber" placeholder="Enter NFT owner phone number" required>
					</div>
					<div class="d-flex mb-3">

						<label for="img1">Image 1:</label>
						<input type="file" name="img1" id="img1" accept="image/*"><br><br>
						<label for="img2">Image 2:</label>
						<input type="file" name="img2" id="img2" accept="image/*"><br><br>
						<label for="img3">Image 3:</label>
						<input type="file" name="img3" id="img3" accept="image/*"><br><br>
					</div>
					
					<button type="submit" class="btn btn-primary">Add NFT</button>
				</form>
			</div>
		</div>
		
	</main>
	
	<!-- JavaScript -->
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/jquery-3.7.1.min.js"></script>

	<%- include('./partials/footer.ejs')%>
</body>
</html>